<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.vuebackenddemo.mapper.UserMapper">
    <select id="findAll" resultType="user">
        select * from t_user
    </select>
    <select id="findUserById" resultType="user" parameterType="string">
        select * from t_user where id=#{id}
    </select>
    <insert id="save" parameterType="user">
        insert into t_user values (#{id},#{name},#{age},#{salary},#{phoneCode})
    </insert>
<!--删除用户信息-->
    <delete id="delete" parameterType="string">
        delete from t_user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="user">
        update t_user set name=#{name},age=#{age},salary=#{salary},phoneCOde=#{phoneCode}
        where id = #{id}
    </update>

    <select id="findNameOrPhoneCode" resultType="user">
        select *
        from t_user
        <where>
            <if test="name!=''">
                name like concat('%',#{name},'%')
            </if>
            <if test="phoneCode!=''">
               or phoneCode like concat('%',#{phoneCode},'%')
            </if>
        </where>

    </select>
</mapper>